@import "variables";
@import "layouts";

.page-container {
    padding: 10px;
}

.store-container {
    // margin: 0px 10px 10px 10px;
    box-shadow: 0px 6px 26px rgba(0, 0, 0, 0.2);
    padding: 30px 0px 20px 0px;
    border-radius: 10px;

    h2 {
        margin-bottom: 20px;
        color: $grey-6;
        font-size: 16px;
    }

    .padding-container {
        padding: 0px 50px;
    }

    .store-list-container {
        margin-top: 5px;
        padding: 0px 20px;
    }
}
