.PD-Cluster {
}

.PD-Cluster-Metrics {
  margin-bottom: 1rem;
}

.PD-Cluster-Meta {
  .ui.segment.meta-field {
    display: flex;
    align-items: center;

    .ui.header {
      margin-bottom: 0;
      margin-right: 2rem;
    }
  }
}
